<h2><%= @question.title %></h2>

<p><%= @question.body %></p>

<p>By <%= @question.user&.full_name || "[Deleted]" %></p>

<div>
  <small>
    Asked <%= time_ago_in_words(@question.created_at) %> ago
  </small>
  .
  <% if @question.edited? %>
    <small>
      Last edited <%= time_ago_in_words(@question.updated_at) %> ago
    </small>
    .
  <% end %>
  <small>
    Seen <%= @question.view_count %> time(s)
  </small>
</div>

<% if user_signed_in? && can?(:crud, @question) %>
  <div>
    <%= link_to(
      "Edit",
      edit_question_path(@question.id),
    ) %>
    
    <%= link_to(
      "Delete",
      question_path(@question.id),
      method: :delete,
      data: { confirm: "Are you sure?"}
    ) %>
  </div>
<% end %>

<h2>Answers</h2>

<%#
  To tell a `form_for` that we're creating an answer that belongs
  to a question, we must use an array where its first element
  is the parent of the answer, the question, and the second element
  is the new instance of the answer.

  When doing this, `form_for` will use `questions_answers_path` helper
  method to generate URL for the "action" attribute.
%>

<% if user_signed_in? %>
  <%= render "answers/form" %>
<% end %>

<ul class="answer-list">
  <% @answers.each do |answer| %>
    <li>
      <p>
        <strong>
          <%= answer.user&.full_name || "[Deleted]" %> answered:
        </strong> <br />
        <%= answer.body %>

        <br />
        <% if user_signed_in? %>
          <% if can?(:update, answer) %>
            <small>
              <%= link_to(
                "Edit",
                edit_answer_path(answer),
              ) %>
            </small>
          <% end %>

          <% if can?(:delete, answer) %>
            <small>
              <%= link_to(
                "Delete",
                answer_path(answer),
                method: :delete,
                data: { confirm: "Are you sure?" }
              ) %>
            </small>
            .
          <% end %>
        <% end %>
        <small>
          Answered <%= time_ago_in_words(answer.created_at) %> ago
        </small>
        <% if answer.edited? %>
          .
          <small>
            Last edited <%= time_ago_in_words(answer.updated_at) %> ago
          </small>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>