<p>Contact Us</p>

<% if @message.present? %>
    <p>
      <%= @message %>
    </p>
<% end %>
<%= form_tag(contact_submit_path) do %>
  <div>
    <%= label_tag(:full_name) %> <br />
    <%= text_field_tag(:full_name) %>
  </div>

  <div>
    <%= label_tag(:email) %> <br />
    <%= email_field_tag(:email) %>
  </div>

  <div>
    <%= label_tag(:message) %> <br />
    <%= text_area_tag(:message, nil, cols: 60, rows: 5) %>
  </div>

  <%#
    For all the available form tag helpers checkout:
    https://api.rubyonrails.org/v5.1/classes/ActionView/Helpers/FormTagHelper.html
  %>

  <%= submit_tag("Contact us!") %>
<% end %>