<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers 🤷‍♂️</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Awesome Answers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%# https://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to %>

            <%= link_to("Home", root_path, class: "nav-item nav-link") %>
            <%= link_to("Questions", questions_path, class: "nav-item nav-link") %>

            <% if user_signed_in? %>
              <%= link_to("New Question", new_question_path, class: "nav-item nav-link") %>
            <% end %>
            <%= link_to("Contact", contact_path, class: "nav-item nav-link") %>

            <% if user_signed_in? %>
              <span class="navbar-text">Hello, <%= current_user.first_name %></span>
              <%= link_to("Sign out", session_path, method: :delete, class: "nav-item nav-link") %>
            <% else %>
              <%= link_to("Sign In", new_session_path, class: "nav-item nav-link") %>
              <%= link_to("Sign Up", new_user_path, class: "nav-item nav-link") %>
            <% end %>

          </div>
        </div>

      </nav>
    </header>


    <%#
      In a layout file, the `yield` is replaced with
      the contents of an erb template that we render with
      the `render` method.
    %>
    <div class="container-fluid">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>